:root {
    /* JS : var 이름 = 내용; */
    /* CSS : --이름 : 내용; */
    --line: #393D46;
    --line2: #6A6A6A;
    --line3: #9499A4;
    --line4: #ACB0B6;
    --lina5: #E1E1E1;
    --black: #000;
    --bgButton: #60696F;
    --white: #FFF;
}
body {
    padding: 30px;
}
.table-type10 {
    border-top: 2px solid var(--line);
    border-bottom: 1px solid var(--line3);
    thead {
        border-bottom: 1px solid var(--line4);
    th {
            padding: 17px 0;
            color: var(--black)
            font-size: 16px;
            font-weight: 700;
    }
}
    tbody {
        tr {
            border-bottom: 1px solid var(--lina5);
            &:last-child {
               border-bottom: none;
            }
        }
    }
    td {
        color: var(--line2);
        font-size: 16px;
        padding: 19px 0;
        + td {
            /* td + td */
            text-align: center
        }
    }
    [rowspan] {
        /* .table-type10 [rowspan] */
        border: 1px solid var(--lina5);
        text-align: center;
 }
}

.btn-gray {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 28px;
    border-radius: 14px;
    background: var(--bgButton);
    color: var(--white);
    font-size: 16px;
}
h2 {
    margin-left: 20px;
    font-size: 40px;
    font-weight: 700;
  }
  
  .table3 {
    margin-left: 20px;
    margin-top: 17px;
    display: flex;
    width: 1001px;
  
    tr {
      height: 53px;
      border-top: 1px solid #e0e0e0;
    }
  
    tr:first-child {
      th,
      td {
        border-top: 1px solid #444;
      }
    }
    tr:last-child {
      th,
      td {
        border-bottom: 1px solid #444;
      }
    }
  
    th {
      width: 150px;
      background-color: #f6f6f6;
      font-size: 13px;
    }
  
    td {
      padding-left: 15px;
      color: #666;
      font-weight: 400;
      font-size: 13px;
      }
  
    .td3 {
      display: flex;
      align-items: center;
    }
  }